* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  height: 100vh;
  max-width: 1200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-image: url(./img/bobbi-wu-3_h9trxhQmY-unsplash.jpg);
  background-size: cover;
  background-position: -120px 0;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: black;
}

#logo {
  width: 40%;
  height: auto;
}

.logo-div { 
  font-family: 'Helvetica Neue';
  color: rgba(8,183,252,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

form {
  background-color: white;
  margin-left: -20px;
  padding-left: 20px;
}

.content-div {
  color: initial;
  background-color: rgb(247, 242, 242);
  color: black; 
  flex: 3;
  padding-left: 20px;
}

button,
input {
  font-family: inherit;
  font-size: 1.5 rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

label, input {
  display: block; /* Make both label and input elements block-level elements */
  margin-bottom: 10px; /* Add margin between each pair of label and input */
}

.input-row {
  display: flex; 
}

.input-row > div {
  margin-right: 60px; 
}

/* To remove margin from the last div in each row */
.input-row > div:last-child {
  margin-right: 0;
}

input {
  border: 1.5px solid #E5E7EB;
  border-radius: 3px;
  width: 200px;
  height: 25px;
}

button {
  background-color: #596D48;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  border: none;
}

#link {
  text-decoration: none;
  color: #596D48;
}